{% extends 'base.html'%}
{% block title %}
   my about
{%endblock%}

{%block content%}

<h1 style="color: whitesmoke;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 50px;">Peers was born from idea of wanting to help students learn better and faster in the overwhelming world of education .Peers is a platform that allows you to learn and study with peers of the same cohorts by creating a study group or joining an existing one.Peers also gives the learners the opportunity to meet and network with other students from different cohorts .It allows learner to share their knowledge and experience with others and also learn from them. </h1>


{%endblock%}
