<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Responsive Navbar</title>
   
    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='base1.css') }}">
    
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/alarm.js') }}"></script>
  
  <style>
    /* Custom styles for navbar */
    .sticky-top {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1020; /* Bootstrap navbar has a z-index of 1030 */
    }
  </style>
</head>
<body >

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar1">
        <div class="container-fluid ">
          <a class="navbar-brand brand text-dark" href="#">PLD-MUGOMA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            {% if 'username' in session %}
              <li class="nav-item">
                <a class="nav-link active text-primary" aria-current="page" href="{{url_for('dashboard')}}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" href="{{url_for('track_session')}}">Track_session</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{url_for('logout')}}">Logout</a></li>
                 
                </ul>
                {%else%}
              <li class="nav-item">
                <a class="nav-link text-danger" href="{{url_for('signup')}}">Get started</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary" href="{{url_for('login')}}">Login</a>
              </li>
              {%endif%} 
            </ul>
         </div>
        </div>
      </nav>
      {%block content%}
     
    {%endblock%}

    {%block post%}

    {%endblock%}

<!-- Your content goes here -->
<footer class="container-fluid fixed-bottom  bg-secondary text-light mt-5">
    <div class="container text-center py-3">
        <p>&copy; Copyright 2024 Mugomatech</p>
        <p>Connect with me on:</p>
        <p>call +254745639184</p>
        <a href="https://github.com/Davidile" class="text-light mr-10">GitHub</a>
        <a href="https://wa.me/qr/QWFFTRFVOVQ4H1" class="text-light mr-10">WhatsApp</a>
        <a href="https://twitter.com/DavidMugoma" class="text-light">Twitter</a>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
