{% extends 'base.html'%}
{% block title %}
 my rentals
{%endblock%}

{%block post%}

    <div class="details">
    <h2>Details of the user who booked tent recently with time</h2>
   
     <table>
        <thead>
            <tr>
            <th>Id</th>
            <th>username</th>
            <th>Email</th>
            <th>created_at</th>
    
            </tr>
            
        </thead>
        {% for us in me %}
        <div>
        <tbody>
            
            <td>{{us.id}}</td>
            <td>{{us.username}}</td>
            <td>{{us.email}}</td>
            <td>{{us.created_at}}</td>
        
        </tbody>
        </div>
        
        {% endfor %}
    </table>
    </div>
{%endblock%}
   
    
