{% extends 'base.html'%}
{% block title %}
 my posts
{%endblock%}

{%block post%}
 
 {%if 'username' in session%}
 {% for post  in posts %}
    
    <div class="container mt-4">
      {% with messages = get_flashed_messages(category_filter=['danger'])%}
     {%if messages%}
     <button type="submit" class="btn btn-danger ">
      {% for message in messages%}
        {{message}}
        {%endfor%}
     </button>
        
     
     {%endif%}
    {%endwith%}

    {% with messages = get_flashed_messages(category_filter=['success'])%}
    {%if messages%}
    <button type="submit" class="btn btn-success ">
      {% for message in messages%}
        {{message}}
        {%endfor%}
     </button>
      
    
    {%endif%}
   {%endwith%}
 
      <div class="row mt-5">
          <div class="col-md-4 col-12">
              <div class="card text-center">
              
                  <div class="card-body">
                      
                      <p class="card-text font-weight-bold">Join! Join</p>
                          <h5 class="card-title">Latest session updates posted.</h5>
                          <p class="card-text"> Posted by:{{post.users.username}} at {{post.date_posted}}</p>
                          <p class="card-text">Mentor's Name: {{post.mentor}}</p>
                          <p class="card-text"> Topic: {{post.topic}}</p>
                          <p class="card-text">Description: {{post.description}}</p> 
                          <p class="card-text">Date: {{post.date_str}}</p>
                          <p class="card-texxt">Time: {{post.time_str}}</p>
                          <p class="card-text">Duration:{{post.duration_str}}</p>
                          <a href="https://meet.google.com/kdg-btbo-wem/" class="btn btn-primary">Join when time hits</a>
                
                  </div>
              </div>
          </div>
                      
      </div>
  </div>
   {%endfor%} 
    
  {%endif%}
{%endblock%}
   
    
