{% extends 'base.html'%}
{% block title %}
   my Signup
{%endblock%}

{%block content%}
   <div class="container bg-light login">
    <h1>Update your password</h1>
   <form action="/update_password"  method="POST">
        <input type="hidden" id="token" name="token" value="{{token}}"><br><br>
        <label for="new_password" class="form-label" > Enter New Password</label><br>
        <input type="password" id="new_password" class="form-control" name="new_password" required><br><br>
   
      <button type="submit" class="btn btn-primary ">Change password</button>
      
   
  </form>
    
   </div>
{%endblock%}
