<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Update your password</h1>
    <form action="/update_password"  method="POST">
        <input type="hidden" id="token" name="token" value="{{token}}"><br><br>
        <label for="new_password"> Enter New Password</label><br>
        <input type="password" id="new_password" name="new_password" required><br><br>
        <input type="submit" value="update Password">
        

    </form>
</body>
</html>